.landing-body {
  margin-top: 200px;
  width: 700px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  &__title {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 129%;

    background: linear-gradient(180deg, #1b18f9 0%, #1b18f9 46.35%, #e146ad 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  &__description {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 171.5%;
    color: #454545;
  }
}
