.icon-button {
  width: 16px;
  height: 16px;

  padding: 0;
  margin: 0;

  svg {
    stroke: #9fa2b4;
  }

  &:hover {
    p,
    strong {
      color: #252733;
    }
    svg {
      stroke: #252733;
    }
  }
}
