.sidebar-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

  &:hover {
    background-color: rgba(158, 161, 179, 0.08);

    p,
    strong {
      color: #dde2ff;
    }
    svg {
      fill: #dde2ff;
      stroke: #dde2ff;
    }
  }

  &:focus {
    p,
    strong {
      color: #dde2ff;
    }
    svg {
      fill: #dde2ff;
      stroke: #dde2ff;
    }
  }

  &__select {
    width: 3px;
    height: 100%;
  }

  &__logo {
    width: 16px;
    height: 16px;
    margin-left: 29px;
    margin-right: 24px;
    fill: #9fa2b4;
    stroke: #9fa2b4;
  }

  &__label {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #a4a6b3;
  }
}

.sidebar-button--selected {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(158, 161, 179, 0.08);

  &:hover {
    background-color: rgba(158, 161, 179, 0.08);

    p,
    strong {
      color: #dde2ff;
    }
    svg {
      fill: #dde2ff;
      stroke: #dde2ff;
    }
  }

  &:focus {
    p,
    strong {
      color: #dde2ff;
    }
    svg {
      fill: #dde2ff;
      stroke: #dde2ff;
    }
  }

  &__select {
    width: 3px;
    height: 100%;
    background-color: #dde2ff;
  }

  &__logo {
    width: 16px;
    height: 16px;
    margin-left: 29px;
    margin-right: 24px;
  }

  &__label {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #dde2ff;
  }
}
