.graphic-card {
  display: flex;
  background: #ffffff;
  border: 1px solid #dfe0eb;
  border-radius: 8px;
  height: 100%;
  width: 100%;

  &__graphic {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 1;
    padding: 32px;

    &__header {
      display: flex;
      align-items: flex-end;
      width: 100%;
      max-width: 1095px;
      height: 48px;
      gap: 8px;

      &__container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 8px;

        &__title {
          font-family: 'Mulish';
          font-style: normal;
          font-weight: 700;
          font-size: 19px;
          line-height: 24px;
          letter-spacing: 0.4px;
          color: #252733;
        }

        &__date {
          font-family: 'Mulish';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.1px;
          color: #9fa2b4;
        }
      }

      &__buttons {
        height: 28px;
      }
    }

    &__body {
      width: 1100px;
      height: 450px;
    }

    &__footer {
      &__label {
        font-family: 'Mulish';
        font-style: bold;
        font-weight: 900;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.1px;
        color: #252733;
      }
    }
  }

  &__informations {
    min-width: 342px;
    // width: 342px;
    // height: 100%;
    border-left: 1px solid #dfe0eb;
  }
}
